/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* ปรับสีของ navbar */
.navbar {
    background-color: #4a4a4a !important;
}

/* Style for the login and English buttons */
.nav-link.btn-outline {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.btn-outline:hover {
    background-color: white;
    color: black;
}

/* สำหรับการแสดงรูปภาพสไลด์ */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

/* ปุ่มเล่นควิซ */
.quiz-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #e74c3c; 
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.quiz-btn:hover {
    background-color: #c0392b; 
    transform: scale(1.05);
}


.highlight-section {    
    background-color: #f0f8ff; 
}

.faq-section {
    background-color: #ffe4b5; 
}

/* Highlight cards */
.card img {
    height: 200px;
    object-fit: cover;
}

.faq-btn {
    background-color: #f9c74f;
    border: none;
    font-size: 1.2rem;
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 30px;
    width: 100%;
}

.faq-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #4a4a4a;
    color: #fff;
}

.modal-body {
    font-size: 1.1rem;
    padding: 20px;
}

/* Footer Section */
.footer-section {
    background-color: #4a4a4a; /* สีพื้นหลังให้เหมือน header */
    color: white; /* สีฟอนต์เป็นสีขาว */
    padding: 20px 0;
}

.footer-link {
    color: white; /* สีลิงก์เป็นสีขาว */
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    color: #d3d3d3; /* เปลี่ยนสีเมื่อ hover */
}

.footer-section .text-end {
    text-align: right;
}

.footer-section i {
    margin-right: 8px;
    font-size: 1.2rem;
}




